<!DOCTYPE html>
<html>
<head>
	<title>Scrum.io</title>
	<link rel="stylesheet" href="css/global.css">
</head>
<body class="login-page">

	<div class="login-page clearfix">
		<div class="logo login-page">Scrum.io</div>

		<form method="POST" action="/" class="clearfix login-form">
			<input type="text" name="username" placeholder="username">
			<input type="password" name="password" placeholder="password">
			<input type="submit" name="submit" class="button" value="Log In">
		</form>

		<div class="devices"></div>

	</div>

</body>
</html>